@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

:root {
    font-family: 'Arimo', sans-serif;
    --card-gap: 20px;
    --sidebar-width: 350px;
    --accent: rgb(251,126,20);
    --gray: rgb(21,21,21);
    --l-gray: rgb(41,41,41);
}

/* * {
    border: solid 1px blue;
} */

* {
    margin: 0;
    padding: 0;
}

/* main layout */
.container {
    display: grid;
    grid-template-columns: var(--sidebar-width) 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / -1;
}

.header {
    background-color: var(--l-gray);
    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 3fr var(--sidebar-width);
}

.content {
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 3fr var(--sidebar-width);
}

/* inner grid layout */
ul {

    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--card-gap);
}

.header .greeting {
    grid-column: 1 / -1;
}

.content .announcement, 
.content .trending {
    grid-column: 2;
}

.content .projects {
    grid-row: 1 / -1;
}

.content > div > .card-container {
    display: grid;
    gap: var(--card-gap);
}

.content .projects > .card-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.content .announcements >.card-container,
.content .trending > .card-container {
    grid-template-columns: 1fr;
}

/* style */
.dashboard-title {
    color: var(--accent);
    font-size: 1.5em;
    display: flex;
}

/* .dashboard-title > div {
    flex: 1;

} */

.dashboard-logo {
    width:1.5em;
    height:1.5em;
    margin-right: 10px;
}

ul {
    list-style: none;
    color: var(--accent);
}

.container {
    color: #FFF;
    background-color: var(--gray);
}

.sidebar {
    background-color: var(--gray);
    font-size: 1.5em;
    padding: var(--card-gap);
}
